.card {
  text-align: center;
}

.card__img {
  display: block;
  margin-bottom: 18px;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include viewport--sm {
    margin-bottom: 15px;
  }
}

.card__title {
  margin: 0;
  color: $color-black;
  font-size: 16px;
  line-height: 21px;

  &:hover {
    opacity: 0.5;
  }

  @include viewport--sm {
    font-weight: 500;
  }
}

.card__cost {
  color: $color-black;
  font-size: 14px;
  font-weight: bold;
}
