.faq {
  margin-bottom: 103px;

  @include viewport--md {
    margin-bottom: 64px;
  }

  @include viewport--sm {
    margin-bottom: 50px;
  }
}

.faq__title {
  margin-bottom: 48px;
  font-size: 36px;

  @include viewport--sm {
    margin-bottom: 28px;
  }
}

.faq__wrapper {
  margin: 0 auto;
  max-width: 970px;
  border: 1px solid $color-medium-wood;

  @include viewport--md {
    width: 100%;
  }
}

.faq__colomn {
  padding: 42px 42px 44px;
  border-bottom: 1px solid $color-medium-wood;

  @include viewport--md {
    padding: 44px 50px;
  }

  @include viewport--sm {
    padding: 15px 25px 20px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.faq__text {
  width: 530px;
  margin: 0;
  padding-top: 10px;
  padding-left: 8px;
  line-height: 20px;
  font-weight: 400;

  @include viewport--md {
    padding-left: 0;
    padding-top: 26px;
  }

  @include viewport--sm {
    padding-top: 13px;
    font-size: 14px;
    width: 86%;
  }
}

.faq__subtitle {
  margin: 0;
  padding-right: 29px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include viewport--sm {
    font-size: 16px;
  }
}
