.filter {
  grid-area: filter;
}

.filter__toggle {
  display: none;

  &:hover,
  &:focus {
    background-color: fade-out($color-medium-wood, 0.2);
  }

  @include viewport--md {
    display: block;
    height: fit-content;
    padding: 21px;
    font: inherit;
    text-align: center;
    border: 1px solid #a87b62;
    margin-bottom: 50px;
    width: 100%;
    color: $color-default-white;
    background-color: $color-medium-wood;
  }

  @include viewport--sm {
    margin-bottom: 40px;
  }
}
