.intro {
  background-image: url("../img/bg/intro-desktop@1x.jpg");
  background-color: $color-medium-wood;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;

  @include retina {
    background-image: url("../img/bg/intro-desktop@2x.jpg");
    background-size: 1366px auto;
  }

  @include viewport--md {
    margin-bottom: 70px;
    background-image: url("../img/bg/intro-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bg/intro-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  @include viewport--sm {
    margin-bottom: 60px;
    background-image: url("../img/bg/intro-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/bg/intro-mobile@2x.jpg");
    }
  }
}

.intro--catalog {
  margin-bottom: 83px;
  background-image: url("../img/bg/intro-catalog-desktop@1x.jpg");

  @include retina {
    background-image: url("../img/bg/intro-catalog-desktop@2x.jpg");
    background-size: 1366px auto;
  }

  @include viewport--md {
    margin-bottom: 53px;
    background-image: url("../img/bg/intro-catalog-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bg/intro-catalog-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  @include viewport--sm {
    margin-bottom: 42px;
    background-image: url("../img/bg/intro-catalog-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/bg/intro-catalog-mobile@2x.jpg");
    }
  }
}

.intro__wrapper {
  margin: 0 auto;
  padding: 183px 40px;
  font-family: $font-family--cormorant;
  text-align: center;
  color: $color-default-white;

  @include viewport--sm {
    padding: 193px 40px 186px;
  }
}

.intro__wrapper--catalog {
  padding: 90px 40px;

  .intro__title {
    font-size: 32px;
    line-height: 46px;
  }

  .intro__text {
    font-size: 22px;
    line-height: 33px;
  }

  @include viewport--sm {
    padding: 78px 15px 80px;

    .intro__text {
      line-height: 28px;
    }
  }
}

.intro__title {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @include viewport--sm {
    font-size: 38px;
    line-height: 40px;
  }
}

.intro__text {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 44px;

  @include viewport--sm {
    font-size: 34px;
    padding-right: 0;
  }
}
