.link {
  margin: 0 auto;
  width: fit-content;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: $color-black;
  border-bottom: 1px solid $color-black;

  &:hover {
    opacity: 0.5;
  }
}
