<div class="modal-add">
  <h3 class="title modal-add__title">The item was added to&nbsp;your cart</h3>
  <div class="modal-add__block">
    <div class="modal-add__item">
      <div class="modal-add__img">
        <picture>
          <source type="image/webp" srcset="img/content/cart-img@1x.webp, img/content/cart-img@2x.webp 2x">
          <!--1x: 470px; 2x:940px-->
          <img src="img/content/cart-img@1x.jpg" srcset="img/content/cart-img@2x.jpg 2x" width="84" height="79" alt="necklace detail">
        </picture>
      </div>
      <div class="modal-add__description">
        <h4 class="title">Gold Necklace</h4>
        <span>$115</span>
      </div>
    </div>
    <div class="modal-add__number">
      <span class="plus">
        <svg width="14" height="14">
          <use xlink:href="img/sprite_auto.svg#icon-plus"></use>
        </svg>
      </span>
      <p>1</p>
      <span class="minus"></span>
    </div>
  </div>
  <div class="modal-add__inner">
    <span class="modal-add__text">You have 1 item in the cart</span>
    <span class="modal-add__text modal-add__text--bold">Cart subtotal: $115</span>
  </div>
  <div class="modal-add__inner">
    <a href="catalog.html" class="button modal-add__button">Continue shopping</a>
    <a href="cart.html" class="button button--color modal-add__button">Checkout</a>
  </div>
</div>
