<div class="login">
  <form class="login__form" action="https://echo.htmlacademy.ru" method="POST">
    <h3 class="title login__title">Log In</h3>
    <div class="login__block">
      <div class="login__item">
        <label class="login__label" aria-label="Введите почту">
          <input data-mail class="login__input" type="email" name="email" placeholder="Your E-mail" required>
        </label>
      </div>
      <div class="login__item">
        <label class="login__label" aria-label="Введите пароль">
          <input class="login__input" type="password"  name="password" placeholder="Password" required>
        </label>
        <a href="#" class="login__link">Forgot your password?</a>
      </div>
    </div>
    <button class="button button--color login__button" type="submit" aria-label="Войти в личный кабинет">Log In</button>
    <div class="login__inner">
      <span>Don’t have an account?</span>
      <a href="#">Sign Up</a>
    </div>
  </form>
</div>
