<div class="slider swiper-container swiper-no-swiping">
  <div class="slider__wrapper swiper-wrapper">
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-1-desktop@1x.webp, img/content/card-1-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-1-desktop@1x.jpg" srcset="img/content/card-1-desktop@2x.jpg 2x" width="270" height="284" alt="Necklace with amethyst">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Necklace with amethyst</a></h3>
        <span class="card__cost">$ 145</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-2-desktop@1x.webp, img/content/card-2-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-2-desktop@1x.jpg" srcset="img/content/card-2-desktop@2x.jpg 2x" width="270" height="284" alt="Layered сhoker">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Layered сhoker</a></h3>
        <span class="card__cost">$ 115</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-3-desktop@1x.webp, img/content/card-3-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-3-desktop@1x.jpg" srcset="img/content/card-3-desktop@2x.jpg 2x" width="270" height="284" alt="Gold chain">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Gold chain</a></h3>
        <span class="card__cost">$ 215</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-4-desktop@1x.webp, img/content/card-4-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-4-desktop@1x.jpg" srcset="img/content/card-4-desktop@2x.jpg 2x" width="270" height="284" alt="Galaxy earrings">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Galaxy earrings</a></h3>
        <span class="card__cost">$ 95</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-1-desktop@1x.webp, img/content/card-1-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-1-desktop@1x.jpg" srcset="img/content/card-1-desktop@2x.jpg 2x" width="270" height="284" alt="Necklace with amethyst">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Necklace with amethyst</a></h3>
        <span class="card__cost">$ 145</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-2-desktop@1x.webp, img/content/card-2-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-2-desktop@1x.jpg" srcset="img/content/card-2-desktop@2x.jpg 2x" width="270" height="284" alt="Layered сhoker">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Layered сhoker</a></h3>
        <span class="card__cost">$ 115</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-3-desktop@1x.webp, img/content/card-3-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-3-desktop@1x.jpg" srcset="img/content/card-3-desktop@2x.jpg 2x" width="270" height="284" alt="Gold chain">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Gold chain</a></h3>
        <span class="card__cost">$ 215</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-4-desktop@1x.webp, img/content/card-4-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-4-desktop@1x.jpg" srcset="img/content/card-4-desktop@2x.jpg 2x" width="270" height="284" alt="Galaxy earrings">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Galaxy earrings</a></h3>
        <span class="card__cost">$ 95</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-1-desktop@1x.webp, img/content/card-1-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-1-desktop@1x.jpg" srcset="img/content/card-1-desktop@2x.jpg 2x" width="270" height="284" alt="Necklace with amethyst">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Necklace with amethyst</a></h3>
        <span class="card__cost">$ 145</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-2-desktop@1x.webp, img/content/card-2-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-2-desktop@1x.jpg" srcset="img/content/card-2-desktop@2x.jpg 2x" width="270" height="284" alt="Layered сhoker">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Layered сhoker</a></h3>
        <span class="card__cost">$ 115</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-3-desktop@1x.webp, img/content/card-3-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-3-desktop@1x.jpg" srcset="img/content/card-3-desktop@2x.jpg 2x" width="270" height="284" alt="Gold chain">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Gold chain</a></h3>
        <span class="card__cost">$ 215</span>
      </div>
    </div>
    <div class="slider__image swiper-slide">
      <div class="card">
        <a class="card__img" href="card.html">
          <picture>
            <source type="image/webp" srcset="img/content/card-4-desktop@1x.webp, img/content/card-4-desktop@2x.webp 2x">
            <!--1x: 270px; 2x:540px-->
            <img src="img/content/card-4-desktop@1x.jpg" srcset="img/content/card-4-desktop@2x.jpg 2x" width="270" height="284" alt="Galaxy earrings">
          </picture>
        </a>
        <h3 class="card__title"><a href="card.html">Galaxy earrings</a></h3>
        <span class="card__cost">$ 95</span>
      </div>
    </div>
  </div>
  <div class="slider__nav swiper-button-next">
    <svg width="29" height="9">
      <use xlink:href="img/sprite_auto.svg#icon-arrow-next"></use>
    </svg>
  </div>
  <div class="slider__nav swiper-button-prev">
    <svg width="29" height="9">
      <use xlink:href="img/sprite_auto.svg#icon-arrow-prev"></use>
    </svg>
  </div>
  <div class="swiper-pagination">
  </div>
  <div class="slider__fraction">
    <span class="slider__current">1</span> of <span class="slider__total">6</span>
  </div>
</div>
